.editors-container {
  display: flex;
  flex-wrap: wrap;
}

.monaco-container {
  /* flex: 1 1 calc(50% - 10px);
  /* Adjusts the width of each item */
  box-sizing: border-box;
  padding: 20px;
  background-color: orange;
  border-style: dashed;
  border-color: red;

  height: 500px;
  width: 500px;
  display: grid;
  flex: 1;
  position: relative !important;
}